<html>
    <head>
        <title>Vue Attrib Binding</title>
        <link rel="stylesheet" href="product.css">
    </head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
            <div class="product">

                <div class="product-image">
                    <a :href="url">
                    <img :src="image" alt="{{ image }}">
                    </a>
                </div>

                <div class="product-info">
                    <h1>Product goes here {{ product }}</h1> 
                    <span v-show="onSale && inventory > 0">On Sale !!</span>
                    <p v-if="inventory > 10">In Stock</p>
                    <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out</p>
                    <p v-else>Out of Stock</p>

                    Details
                    <ul>
                        <li v-for="v in details">{{v}}</li>
                    </ul>

                    Variants
                    <div v-for="v in variants" :key="v.id">
                        <p @mouseover="updateImage(v.image)">{{v.color}}</p>
                    </div>

                    <button @click="addToCart">Add to Cart</button>

                    <div class="cart">
                        Cart ({{ cart }})
                    </div>

                    <button @click="takeFromCart">No no !</button>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="main.js"></script>
    </body>
</html>